@font-face{
	font-family:web-pro-h;
	src:url(../font/web-pro-h)format("woff2"),
			url(../font/web-pro-h) format("woff"),
			url(../font/web-pro-h) format("opentype");
			font-weight:300;
			font-style:normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome/fontawesome-webfont.eot?v=4.1.0');
    src: url('../font/fontawesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
         url('../font/fontawesome/fontawesome-webfont.woff?v=4.1.0') format('woff'),
         url('../font/fontawesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
         url('../font/fontawesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal
}

::-moz-selection {
  background-color: #d33682;
  background-color: #f75aa6;
  color: #eee;
  text-shadow: none;
}

::selection {
  background-color: #d33682;
  background-color: #f75aa6;
  color: #eee;
  text-shadow: none;
}

body {
  margin-top: 0;
  // padding: 25px 36px;
  padding-top: 0;
  margin: 0;
  padding:0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #fdf6e3;
  color: #657b83;

}

.page-header {
  font-family: "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow: visible;
  height: 50px;
  padding: 0 36px;
  z-index: 2;
  font-size: .85em;
  color: #7e888b;
  background: transparent;
  background-color: #eee8d5;
}

.page-header .btn {
	display: block;
	height: 50px;
	padding: 0 15px;
	border-bottom: 0;
	color: #ccc;
	text-transform: uppercase;
	line-height: 50px;
	box-shadow: none!important;
	position: relative;
	font-size: 14px;
}

.page-header .edit {
	color: #b58900;
	text-decoration: none;
}

@media (max-width: 767px) {

	.page-header{
		padding:0 10px;
	}
  }

.pull-left {
  float: left;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: red;
}

.fa-search:before {
    content: "\f002";
}

.page-wrapper {
  padding: 25px 36px
}

@media (max-width: 767px) {

	.page-wrapper{
		padding:25px 10px;
	}
  }
p, blockquote, ul, ol, dl, li, table, pre {
  margin: 15px 0;
}

a, a:active, a:visited {
  color: #b58900;
}
a:hover {
  background: #fdf6e3;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: capitalize;
  color: #dc322f
}

@media (max-width: 767px) {

	h1{
		-webkit-box-orient:vertical;
		-webkit-box-direction:normal;
		    -ms-flex-direction:column;
		        flex-direction:column;
		-webkit-box-align:start;
		    -ms-flex-align:start;
		        align-items:flex-start;
	}
  }

h1 a {
  text-decoration: none;
  color: #268bd2
}

h1 a + a{
	margin-left:15px;
}

strong {
  font-weight: bold;
}

.card-container {
  -webkit-columns: 4;
          columns: 4;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.card-container .h2-block {
	display: block;
	padding: 10px;
	margin: 5px 0;
	width: 100%;
	background-color: #eee8d5;
	-webkit-column-break-inside: avoid;
	        break-inside: avoid;
	-webkit-column-break-after: always;
	        break-after: always;
	-webkit-column-break-before: always;
	        break-before: always;
	float: left;
	box-sizing: border-box;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.card-container .h2-block h2 {
	color: #b58900;
	font-family: "web-pro-h","Open Sans";
	text-transform: capitalize;
}

.card-container .h2-block p {
	margin: 0;
	color: #1f83a0;
}

.card-container .h2-block code {
	background: #fdf6e3;
}

.card-container .h2-block pre {
	margin-left: 2em;
}

.card-container .h2-block pre code {
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: DejaVu Sans Mono,Consolas,'Liberation Mono',Menlo,Courier,monospace;
	background: inherit;
	font-size: 14px;
}

.card-container .h2-block blockquote {
	border-left: 4px solid #dddddd;
	padding: 0 15px;
	color: #777777;
	margin: 15px 0;
}

.card-container .h2-block blockquote p {
	font-size: 13px;
	color: #777777;
}

@media (min-width: 992px) and (max-width: 1361px) {

	.card-container{
		-webkit-columns:3;
		        columns:3;
	}
  }

@media (min-width: 768px) and (max-width: 991px) {

	.card-container{
		-webkit-columns:2;
		        columns:2;
	}
  }

@media (max-width: 767px) {

	.card-container{
		-webkit-columns:1;
		        columns:1;
	}
  }

/*break-after: 不管上一列有没有填满，我都另起一列
break-before: 不管上一列有没有填满，我都另起一列*/

